{
  "presets": [
    [
      "airbnb",
      {
        "useBuiltIns": "entry",
        "modules": false,
        "debug": true,
        "targets": {
          "ie": "11",
          "esmodules": true
        }
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "babel-plugin-transform-modules-sapui5",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    ["@babel/plugin-transform-classes", {
      "loose": true
    }],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": false
      }
    ]
  ]
}
